<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price Prediction</title>

</head>
<style>
    html{
    background-color:#D3D3D3;
    }
    .hood{
    background-color: white;
    border-radius: 25px;
    width: 80%;
    }
  button {
      background-color:black;
      border: medium;
      border-color: black;
      color: white;
      padding: 10px 25px;
      text-align: center;
      border-radius: 20px;
      font-size: 16px;

    }
    button:hover{
      background-color: grey;

}

</style>
<body><center>
<h1>Stock Price Prediction</h1>

<div class="hood">
     {% block content %}

     {% endblock content %}

</div>
      </center>
</div>
</body>
</html>